<li class="comment-box__item media" data-id="{{id}}" data-time="{{timestamp}}">
  <div class="media-left">
    <a href="{{author_url}}"><img class="img-circle" src="{{avatar_url}}"></a><a href="{{author_url}}">{{author}}</a>
  </div>
  <div class="media-body">
    <div class="comment-box__item-main">
      <div class="reply-name">{% if reply_to %}{% if reply_to.profile_url %}<a href="{{reply_to.profile_url}}">{% endif %}{{reply_to.name}}{% if reply_to.profile_url %}</a>{% endif %}{% endif %}</div>
      <div class="comment-box__item-content">{{message | safe}}</div>
    </div>
    <div class="comment-box__item-toolbox">
      <span class="time">{{time}}</span>
      <a href="#" class="reply-link">回复</a>
    </div>
  </div>
</li>