<li class="message__item media{% if notice %} notice{% endif %}" data-id="{{id}}" data-time="{{timestamp}}">
  <!-- AVATAR START -->
  <div class="media-left">
    {% if author_url %}<a href="{{author_url}}">{% endif %}<img class="img-circle" src="{{avatar_url}}">{% if author_url %}</a>{% endif %}
  </div>
  <!-- AVATAR END -->
  <div class="media-body">
    <h4 class="media-heading">{% if author_url %}<a href="{{author_url}}">{% endif %}{{author}}{% if author_url %}</a>{% endif %}<small>{{date}}</small></h4>
    <div class="top-right-corner">
      {{top_right_corner | safe}}
    </div>
    <div class="message__item-content{% if shrink %} shrinked{% endif %}">
      {% if heading %}<div class="message__item-content__heading">{{heading}}</div>{% endif %}
      <!-- MESSAGE CONTENT START -->
      {{message | safe}}
      <!-- MESSAGE CONTENT END -->
      <div class="message__item-mask"></div>
      <a href="#" class="collapse-button"></a>
    </div>
    <!-- REPLY QUOTE START -->
    {% if reply_quote %}
    <div class="reply-quote" data-label="回复我的评论：">{{reply_quote}}</div>
    {% endif %}
    <!-- REPLY QUOTE END -->
    <!-- LABEL LIST START -->
    <ul class="message__labels">
      {% for label in labels %}
      <li class="label {{label.type}}" data-id="{{label.id}}">{% if label.url %}<a href="{{label.url}}">{% endif %}{{label.name}}{% if label.url %}</a>{% endif %}</li>
      {% endfor %}
    </ul>
    <!-- LABEL LIST END -->
    <!-- ACKNOWLEDGE BUTTON START -->
    {% if acknowledge %}
    <button type="button" class="btn btn-primary btn-lg btn-block message__ack-btn">确认收到</button>
    {% endif %}
    <!-- ACKNOWLEDGE BUTTON END -->
  </div>
  <!-- COMMENT BOX START -->
  {% if enable_comment %}
  <div class="comment-box">
    <!-- COMMENT INPUT SECTION START -->
    <form class="comment-box__form" action="#" method="post" enctype="multipart/form-data">
      <input class="comment-box__file-picker hidden" type="file" accept=".jpg,.jpeg,.png,.gif,.bmp" />
      <img class="img-circle" src="{{avatar_url}}">
      <div class="input-group">
        <div class="input-wrapper">
          <div class="reply-quote" data-label=""></div>
          <textarea class="form-control" name="comment" rows="1" maxlength="255" placeholder="回复{{author}}"></textarea>
          <button type="button" class="close" aria-label="取消"><span aria-hidden="true">&times;</span></button>
        </div>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default comment-box__image-btn"><i class="fa fa-picture-o"></i></button>
          <button type="submit" class="btn btn-default comment-box__reply-btn">回复</button>
        </span>
      </div>
      <div class="image-box">
        <ul>
          <!-- EXAMPLE LIST ITEM -->
          <!-- <li><a href="#"><img src="/assets/images/pic-placeholder-xs.png"></a></li> -->
        </ul>
        <a href="#" class="add-image"><i class="fa fa-plus"></i></a>
      </div>
    </form>
    <!-- COMMENT INPUT SECTION END -->
    <!-- COMMENT LIST START -->
    {% if show_comment_list %}
    <ul class="comment-box__list media-list">
      <!-- FOR CHILDS PLEASE SEE comment.html -->
    </ul>
    {% if more_comments_btn %}
    <div class="pagination-wrapper"></div>
    <a href="#" class="comment-box__show-more">点击查看更多</a>
    <a href="#" class="comment-box__show-less">点击收起评论列表</a>
    {% endif %}
    {% endif %}
    <!-- COMMENT LIST END -->
  </div>
  {% endif %}
  <!-- COMMENT BOX END -->
</li>