/*------------------------------------*\
    #MESSAGE CONTAINER
\*------------------------------------*/
.message {
  list-style: none;
  margin: .5em 0;
  padding: 0;
}
.message__load-more {
  display: block;
  text-align: center;
  color: inherit;
  padding: 6px 0;
  color: #3366cc;
}
.message__load-more:active,
.message__load-more:focus,
.message__load-more:hover {
  text-decoration: none;
}

.message > li {
  background: #fff;
  padding: 12px;
  box-shadow: 0 0 2px #aaa;
  position: relative;
  overflow: visible;
}
.message > li.notice {
  background: #ffc;
}
.message > li .media-left img {
  width: 50px;
  height: 50px;
}
.message > li .media-heading {
  margin-bottom: .8em;
}
.message > li .media-heading > small {
  display: block;
  margin-top: .5em;
}
.message .top-right-corner {
  position: absolute;
  right: 12px;
  top: 12px;
}
.message .top-right-corner,
.message .top-right-corner a {
  color: #999999;
}
.message__labels {
  margin: .8em -4px;
  padding: 0;
}
.message__labels > li {
  display: inline-block;
  margin: 0 4px;
  font-size: 14px;
  font-weight: normal;
}
.message__labels a {
  color: inherit;
  text-decoration: none;
}

.message .comment-box {
  font-size: 14px;
  color: #333333;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  margin: 0 -12px -12px -12px;
  padding: 12px;
  padding-left: 72px; /* 12 + 50 + 10 */
  padding-top: 4px;
}
.message .comment-box .media-left img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.comment-box__list > li {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 8px 0 6px 0;
}
.comment-box__list > li:last-child {
  border-bottom: none;
}
.comment-box__list > li > .media-left {
  white-space: nowrap;
  padding-right: 0;
}
.comment-box__list > li > .media-body > *,
.comment-box__list > li > .media-left > a,
.comment-box__list > li > .media-left > a:after {
  vertical-align: top;
}
.comment-box__list > li > .media-left > a:after {
  content: "：";
  color: #333333;
}

.comment-box__item-toolbox {
  text-align: right;
}
.comment-box__item-toolbox > .time {
  color: #999999;
  position: absolute;
  left: 112px; /* 12 + 50 + 10 + 30 + 10 */
}

.comment-box__show-more {
  display: block;
  text-align: center;
  color: inherit;
  padding: 6px 0;
  border-top: 1px solid #ddd;
}
.comment-box__show-more:active,
.comment-box__show-more:focus,
.comment-box__show-more:hover {
  background-color: #eee;
  text-decoration: none;
}

.comment-box__form {
  display: block;
  position: relative;
  margin-top: 8px;
}
.comment-box__form > .img-circle {
  position: absolute;
  top: 0;
  left: -40px;
}
.comment-box__form textarea {
  width: 100%;
  resize: vertical;
}
.comment-box__form button {
  height: 100%;
  box-sizing: initial;
}
.comment-box__form textarea,
.comment-box__form .input-group-btn > button {
  border-radius: 0;
}
.comment-box__form .input-group-btn > button:active,
.comment-box__form .input-group-btn > button:hover,
.comment-box__form .input-group-btn > button:focus {
  z-index: 100;
}

.comment-box .image-box {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 0 6px #666;
  padding: 12px;
  z-index: 200;
  max-width: 100%;
  right: 0;
  margin-top: 8px;
  opacity: 0;
  display: none;
}
.comment-box .image-box.show {
  opacity: 1;
  display: block;
}
.comment-box .image-box:before {
  content: "";
  position: absolute;
  z-index: 201;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  top: -24px;
  right: 73px; /* 1 + 12 + 2 * 14 + 12 + 1 + 12 + 0.5 * 14   Note: 14 = font-size */
  bottom: -12px;
  margin-right: -12px;
  border-bottom-color: #f9f9f9;
  display: inline-block;
  pointer-events: none;
}
.comment-box .image-box > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
.comment-box .image-box > ul > li {
  margin: 4px;
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
}
.comment-box .image-box > ul > li > a {
  position: relative;
}
.comment-box .image-box > ul > li > a:after {
  content: "\f00d";
  color: #fff;
  font: normal normal normal 32px/1 FontAwesome;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  position: absolute;
  left: 0;
  background-color: #000;
}
.comment-box .image-box > ul > li:hover > a:after {
  opacity: .6;
}
.comment-box .image-box img {
  vertical-align: top;
}
.comment-box .image-box .add-image {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  font-size: 42px;
  text-align: center;
  margin: 4px 0;
  border: 1px dashed #ccc;
  vertical-align: top;
}
